/*Global Styles*/
body {
  background: url('../img/edit2.jpg');
    background-attachment: scroll;
}
h1,
p {
  color: #7D26CD;
}

p {
  text-align: center;
  font-size: 16px;
}

h2 {
  color:	#3effa7;
  margin-top: 5px;
}
h2 small {
  color: #f0d6cd;
}
.samantha {
    /*position: absolute;
    top: 600px;
    left: 500px;*/
}
/* Navigation */
a {
  color: #e6bbad;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-fluid .portfolio {
  overflow: visible;
  width: 100%;
  position: relative;
}

.navbar-nav li a {
  color: #ff3e96;
  font-size: 30px;
  padding-bottom: 15px;

}

.navbar-nav li a:hover {
  background-color: transparent;
  color: #3effa7;
}

.navbar-toggle {
  background-color:  transparent;
  border: 2px solid #fff;
  margin-right: 20px;
}

span.icon-bar {
  background-color: #fff;
}

.navbar-toggle .icon-bar+.icon-bar {
  background-color: #fff;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
  background-color: rgba(152,152,152,1);
  opacity: 0.6;
}

.icon-bar a:hover {
  background-color: #e7f0f3;
}

/* About Me */
.aboutMe {

}
.section {
  position: relative;
}
img.portrait {
  padding-top: 30px;
}

.aboutMe {
  height: 300%;
  width: 100%;
}

.page-header {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 0px solid transparent;
}
/* Alchemy Symbols */
.alchemy {
  height: 30px;
  width: 30px;
}

/* Work Section */
.portfolio {
  width: 100%;
}
.work {
  margin-top: 2.5px;
}
/* Image Styles */
.kitty1 {
  height: 263.85px;
  width: 220.14px;
  margin-top: 80px;
}
.kitty2 {
  height: 478.8px;
  width: 548.6px;
}

.kitty3 {
  height: 252.83px;
  width: 200.16px;
  margin-top: 80px;
}

.kitty4 {
  height: 313.66px;
  width: 365.33px;
  margin-top: 40px;
}

.kitty5 {
  height: 404.8px;
  width: 348.8px;
  margin-top: 10px;
}

.kitty6 {
  height: 272px;
  width: 220.6px;
  margin-top: 80px;
}
/*footer styles */

.footer {
  height: 30%;
}
.free {

}

/* Social Media Icons */
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  list-style-type: none;
}

a.social {
  display: inline-block;
  margin-left: 5px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
  padding-bottom: 10px;
}

a.social:hover {
  opacity: 1;
}
.kitty {
  width: 200px;
  height: 121px;
}
/* Contact Form */
.emailMe a:hover {
  color: #eec273;
}
.container {
  width: 100%;
  padding: 0 15px;
}

textarea.form-control {
  height: 30%;
  width: 100%;
}

label {
  color: #7D26CD;
}

.form-control {
  width: 100%;
  background-color: #e5f3f7;
  border-color: #eec273;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-control:focus {
  background-color: #fff;
}

.followMe {
  margin-top: 10px;
  color: #7D26CD;
}

.btn {
  background-color: #e5f3f7;
  border-color: #eec273;
  color: #eec273;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  color: #7D26CD;
  border-color: #7D26CD;
}

/* Media Queries */
@media (min-width: 768px) {
  p {
  text-align: left;
  }
  .alchemy {
    height: 50px;
    width: 50px;
  }

  .footer ul {
  text-align: left;
  }

  #footer {
  margin-left: 30px;
  }

  .emailMe {
  text-align: left;
  }

  .followMe {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  }

  .kitty {
    width: 300px;
    height: 182px;
  }

  .sectionA {
  width: 60%;
  margin-left: 0px;
  }

  .sectionF {
  margin-left: 0px;
  }

  label {
  padding-left: 0px;
  }

  .form-control {
  width: 100%;
  margin-left: 0px;
  }

  textarea.form-control {
  height: 30%;
  width: 100%;
  }

  .btn {
  margin-left: 0px;
  margin-right: 0px;
  }
}

@media (min-width: 992px) {
  .alchemy {
    height: 60px;
    width: 60px;
  }
  .kitty {
    width: 350px;
    height: 212px;
  }
  .sectionK {
    margin-top: 45px;
    margin-left: 0px;
    width: 320px;
  }
  .sectionA {
    width: 330px;
    margin-left: 60px;
  }
  .sectionF {
    width: 190px;
    margin-left: 60px;
    padding-bottom: 30px;
  }
  .followMe {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .footer ul {
    text-align: center;
    padding-top: 10px;
  }

}
@media (min-width: 1200px) {
.section .section-header .aboutMe {
  width: 100%;
  height: 100%;
}
.alchemy {
  height: 80px;
  width: 80px;
}
.sectionK {
  margin-top: 60px;
  width: 400px;
}
.sectionA {
  width: 400px;
}
.sectionF {
  width: 200px;
}


}
